.login-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-container {
    width: 500px;
    margin-top: 15vh;
}
.title-container h1 {
    margin-bottom: 20px;
}
.title-container h2 {
    margin-bottom: 40px;
}
.title-container h1, .title-container h2 {
    text-align: center;
}
.form-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control {
    text-align: center;
}
.username-group {
    margin-bottom: 20px;
}
.extra-actions {
    margin: 20px 0;
}