.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-container {
    width: 500px;
    margin-top: 10vh;
}
.title-container h1 {
    margin-bottom: 20px;
}
.title-container h1 {
    text-align: center;
}
.form-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control {
    text-align: center;
}
.actions {
    margin: 20px 0;
}
.form-group-padding {
    margin-bottom: 20px;
}
.first-name-group {
    padding-right: 5px;
}
.last-name-group {
    padding-left: 5px;
}
.row.form-group-padding {
    width: 100%;
    flex-wrap: nowrap;
}