<ng-template #navbarRef let-flag="flag">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand" [routerLink]="['/']">AuthZ Admin</a>

        <button class="navbar-toggler" type="button" (click)="nav.toggle(!flag)">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngClass]="{'show': flag}">
            <div class="navbar-nav mr-auto">
                <ew-header-link *ngFor="let item of menu$ | async" [item]="item"></ew-header-link>
            </div>

            <ng-container *ngIf="auth$ | async as auth; else unauthorized">
                <ng-container *ngIf="auth.status === authStates.AUTHENTICATED; else unauthorized">
                    <span class="profile-link" [tooltip]="auth.parsedAccessToken.email">
                        {{auth.parsedAccessToken.name || auth.parsedAccessToken.username}}
                    </span>
                    <span class="auth-link" *ngIf="auth.status === authStates.AUTHENTICATED" (click)="logout()">
                        Logout
                    </span>
                </ng-container>
            </ng-container>
            <ng-template #unauthorized>
                <span class="auth-link" (click)="login()">Login</span>
            </ng-template>
        </div>
    </nav>
</ng-template>
<ng-container *ngTemplateOutlet="navbarRef; context: {flag: nav.isOpened() | async}"></ng-container>
