@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i,900');

@import "./styles/variables";

$primary: $primary-color;
$secondary: $secondary-color;

@import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr-bs4-alert";


.red-tab-header {
    a.nav-link {
        color: $secondary-color !important;
        &.active {
            color: $black !important;
        }
    }
}
