<div>
    <h1>AuthZ Admin</h1>

    <div class="landing-links">

        <div class="landing-link-item">
            <a class="landing-link" [routerLink]="['/clients']">
                <h3>Clients</h3>
            </a>
        </div>

        <div class="landing-link-item">
            <a class="landing-link" [routerLink]="['/users']">
                <h3>Users</h3>
            </a>
        </div>

        <div class="landing-link-item">
            <a class="landing-link" [routerLink]="['/keys']">
                <h3>Keys</h3>
            </a>
        </div>

        <div class="landing-link-item">
            <a class="landing-link" [routerLink]="['/settings']">
                <h3>Settings</h3>
            </a>
        </div>

    </div>

    <div>
        <h4>Analytics</h4>
        <p>TBD</p>
    </div>

    <div>

        <button class="btn btn-sm btn-outline-primary" (click)="auth.login()">
            Login
        </button>
    </div>

</div>
