<div>
    <ng-container *ngIf="client$ | async as client; else loading">

        <h2>{{client.name}}</h2>

        <tabset>

            <tab heading="General" id="general" customClass="red-tab-header">
                <app-client-general-tab
                    [client]="client"
                    (whenChanged)="refetchClientData(client.clientId)"
                >
                </app-client-general-tab>
            </tab>

            <tab heading="Signing" id="signing" customClass="red-tab-header" *ngIf="client.type !== 'BEARER_ONLY'">
                <app-client-signing-tab
                    [client]="client"
                    (whenChanged)="refetchClientData(client.clientId)"
                >
                </app-client-signing-tab>
            </tab>

            <tab heading="Scopes" id="scopes" customClass="red-tab-header">
                <app-client-scopes-tab [client]="client"></app-client-scopes-tab>
            </tab>

        </tabset>

    </ng-container>
    <ng-template #loading>
        Loading ...
    </ng-template>
</div>
