<div>
    <ng-container *ngIf="client$ | async as client; else loading">

        <h2>{{client.name}}</h2>

        <tabset>

            <tab heading="General" id="general" customClass="red-tab-header">
                <app-client-general-tab [client]="client"></app-client-general-tab>
            </tab>

            <tab heading="Signing" id="signing" customClass="red-tab-header">
                <app-client-signing-tab [client]="client"></app-client-signing-tab>
            </tab>

        </tabset>

    </ng-container>
    <ng-template #loading>
        Loading ...
    </ng-template>
</div>
