<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>com.mjamsek.auth.api.listeners.OnStartupListener</listener-class>
    </listener>

    <filter-mapping>
        <filter-name>authorization-validation-filter</filter-name>
        <url-pattern>/protocol/oidc/auth</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authorization-request-filter</filter-name>
        <url-pattern>/protocol/oidc/auth</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>error-servlet</servlet-name>
        <jsp-file>/error.html</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error-servlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
        <url-pattern>/static/js/*</url-pattern>
    </servlet-mapping>

</web-app>